<!-- Product Panel Navigation  -->

<ul class="nav nav-pills">
  <!-- ng-class adds a class before column if the statement after column is true -->
  <!-- <li ng-class="{ active: tab === 1 }"> -->
  <li ng-class="{ active: panel.isSelected(1) }">
    <!-- ng-click changes the value of tab by clicking on link -->
    <!-- <a href="#" ng-click="tab = 1">Description</a> -->
    <a href ng-click="panel.selectTab(1)">Description</a>
  </li>
  <!-- <li ng-class="{ active: tab === 2 }"> -->
  <li ng-class="{ active: panel.isSelected(2) }">
    <!-- <a href="#" ng-click="tab = 2">Specifications</a> -->
    <a href ng-click="panel.selectTab(2)">Specifications</a>
  </li>
  <!-- <li ng-class="{ active: tab === 3 }"> -->
  <li ng-class="{ active: panel.isSelected(3) }">
    <!-- <a href="#" ng-click="tab = 3">Reviews</a> -->
    <a href ng-click="panel.selectTab(3)">Reviews</a>
  </li>
</ul>
<br />
